<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ANIMASI </title>
        <style>
            body{
                font-family:Georgia, 'Times New Roman', Times, serif ;
                text-align: center;
                margin: 50x;
            }  
            h1{
                color: rgb(234, 231, 238);
            }
            p{
                color: rgb(238, 232, 232);
            }
            h2{
                color: rgb(181, 180, 184);
            }
        </style>
    </head>
    <body>
        <div style="padding:15px; width:1320px; height:1000px; background:rgb(5, 5, 5); display:block; text-align:center;">
        <hr>
        <div style="padding:30px; width:1259px; height:165px; background:rgb(23, 23, 27); display:block; text-align:center;">
        <h1>*anada masuk kawasan saip lanjut oke cuy......</h1>
        <p>*ini adalah tugas website pertam tamakali dibuat menghunakan html. </p>
        <p>*selamat datang . pastikan kalok maumasuk ada harus punya udhuk</p>
        <h2>memu masuk klik dibawah ini</h2>
        </div>
        <hr>
        <div style="padding:15px; width:1290px; height:75px; background:rgb(38, 99, 139); display:block; text-align:center;">
            <center style="color:rgb(241, 235, 235)"><b>MENU MASUK </b> </center>
            <center style="color:aliceblue">*bookmark <a href="{% url 'mr' %}">MENU MASUK.</a>untuk info lebih lanjut </center>
            <center style="color:aliceblue">*klik <a href="https://wa.me/qr/R5KGHJSDBI5FA1 ">chat whatsApp</a></center>
            <center style="color:aliceblue">*atau kunjungi ANIMSU <a href="http://animasu.com ">KLIK DISINI</a></center>
        </div>
        <hr>
        </div>

    </body>
</html>