<!DOCTYPE html>
<html>
    <head>
        <title>Donghua-Nonton Geratis</title>
    </head>
    <body>
             <from>
                <div style="padding:15px; width:1320px; height:75px; background:rgb(241, 10, 10); display:block;">
                <h1 style="color:rgb(241, 241, 245)">donghua <input type="text"><input type="button" name="text"value="telusuri"></a></h1>
                </div>
             </from>

        <hr>
 
         <p>
            <div style="padding:5px; width:1338px; height:50px; background:rgb(233, 229, 6); display:block; text-align:center;">
         <blockquote><select name="genre: semua"> 
         <!-- id="" tidak perlu dulu tar akan di kaitkan dengan css -->
              <option value="genre:semua">genre:semua</option>
              <option value="anak-anak">anak-anak</option>
              <option value="Aksi">Aksi</option>
              <option value="Avant Garde">Avant Garde</option>
              <option value="Antariksa">Antariksa</option>
              <option value="Antariksa">Antariksa</option>
              <option value="Boys Love">Boys Love</option>
              <option value="Drama">Drama</option>
              <option value="Donghua">Donghua</option>
              <option value="Fantasi">Fantasi</option>
              <!-- masih bellum semua -->
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
              </select>
        
            <select  name="karakter: semu">
            <option value="karakter: semua">karakter:semua</option>
            <option value="ambisi">ambisi</option>
            <option value="anak-anak">anak-anak</option>
            <option value="badas">badas</option>
            <option value="anti-sosial">anti-sosial</option>
            <option value="berisik">berisik</option>
            <option value="berbisnis">berbisnis</option>
            <option value="beruntung">beruntung</option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            </select>

            <select name="seson:semua">
            <option value="seson:semua">seson:semua</option>
            <option value="Fall 1984">Fall 1984</option>
            <option value="Fall 1985">Fall 1985</option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            </select>
        
         
            <select name="seson:semua">
            <option value="seson:semua">seson:semua</option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            </select>

            <select name="seson:semua">
            <option value="setatus:semua">setatus:semua</option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            </select>

            <select name="seson:semua">
            <option value="seson:semua">seson:semua</option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            </select>
        </blockquote>
            </div>
        </p>
    <hr>
    <p>
            <div style="padding:15px; width:1320px; height:75px; background:rgb(233, 229, 6); display:block; text-align:center;">
                <center style="color:rgb(241, 235, 235)"><b>* INFO LEBIH LANJUT KUNJUNGI TAUTA DI BAWAH INI *</b> </center>
                <center style="color:aliceblue">*bookmark <a href="https://www.instagram.com/xioan_yan_">https://www.instagram.com/xioan_yan_ </a> </center>
                <center style="color:aliceblue">*klik <a href="https://wa.me/qr/R5KGHJSDBI5FA1 ">chat whatsApp</a></center>
                <center style="color:aliceblue">*atau kunjungi ANIMSU <a href="http://animasu.com ">KLIK DISINI</a></center>
            </div>
    </p>
    <hr>
    <table>
        <a href="{% url 'mk' %}">kembali</a> 
    </table>     
    </body>
</html> 